{% extends 'base.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Upload file list</h1>
    </div>

    <div id="alert_message">
    </div>

    <form>
        <fieldset>
            <div class="form-group">
                <label>Service account name</label>
                <p class="form-contro-static">{{ kollusSettings['service_account_name'] }}</p>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label>Service account key</label>
                <p class="form-contro-static">{{ kollusSettings['service_account_key'] }}</p>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label>Kollus domain</label>
                <p class="form-contro-static">{{ kollusSettings['domain'] }}</p>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label>Channel callback URL</label>
                <p class="form-contro-static">{{ kollusSettings['channel_callback_url'] }}</p>
            </div>
        </fieldset>
    </form>

    <hr />

    <div id="list-page">
        {% include 'upload/list-page.html.twig' %}
    </div>
{% endblock %}
